.landing-page{
  background-image: url("https://dbairlines.romail.app/assets/beach-background.webp");
  background-size: cover;
  color: white;
  height: 85vh;
}
#searchFlightForm{
  background-color: var(--primary-color);
  padding: 20px;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 10px;
  font-size:30px;
  color:var(--secondary-color);
  text-align:center;
}
#searchFlightForm input{
  background-color: var(--secondary-color);
  color:var(--primary-color);
  width: 80%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
#searchFlightForm select{
  background-color: var(--secondary-color);
  color:var(--primary-color);
  border-radius: 10px;
  width: 80%;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}



