
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
#login-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#idp-login-button{
  background-color: #f5f5f5;
  background-image: url("https://romail.app/favicon.ico");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 5%;
  color: black;
  padding: 14px 28px;
  margin: 8px 0;
  border: #ddd solid 1px;
  cursor: pointer;
  width: 100%;
}

#login-button:hover {
  opacity: 0.8;
}


