
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
#login-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login-button:hover {
  opacity: 0.8;
}


