/* You can add global styles to this file, and also import other style files */
.flightcard{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

